body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#toolbar {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    padding-left: 7px;
    font-size: 10pt;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
}
#toolbar-left {
    width: calc(100% - 140);
}
#toolbar-right {
    position: absolute;
    top: 7px;
    right: 0px;
    width: 150px;
    height: 32px;
    padding-left: 5px;
    background-color: var(--vscode-editor-background);
}
#toolbar a {
    color: dodgerblue;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
}
#title {
    margin: 0px;
    padding: 0px;
}
#data-view-stats {
    width: 145px;
    text-align: center;
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
    border: none;
}
#data-viewer {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}
.hidden {
    display: none;
}
.label {
    color: var(--vscode-editor-foreground);
}
select {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
}
perspective-viewer {
    --select--padding: 0px 5px 0px 5px;
}

regular-table {
    width: 100%;
}

regular-table tr td {
    max-width: 328px;
    overflow: hidden;
    text-overflow: ellipsis;
}
