body {
    background-color: var(--vscode-editor-background);
}

.grid-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#canvas {
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

chartView {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

gridView {
    margin-bottom: 5px;
    flex-direction: column;
    display: flex;
}

.button-black {
    background-color: black;
    border-color: black;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}
.button-black.button-clear {
    border-color: transparent;
}
.button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

select {
    font-weight: 900;
}

option {
    font-weight: 900;
}

label {
    font-weight: 900;
}

.border-right {
    border-right: 0.1rem solid #9b4dca;
}
