body {
    background-color: var(--vscode-editor-background);
}

.grid-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#canvas {
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

chartView {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

gridView {
    margin-bottom: 5px;
    flex-direction: column;
    display: flex;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    letter-spacing: 0;
    padding: 0 1rem;
}

.form {
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.alert {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    color: red;
    display: none;
}

.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
    padding: 3px;
}
