.button-outline {
    border-color: #ea80fc;
}

.button.button-clear {
    color: white;
    border: 0px;
}

select {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color: var(--vscode-editor-background);
}

option {
    font-size: 1.1rem;
    font-weight: 700;
}

label {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
}

input {
    color: white;
}

.border-right {
    border-right: 0.1rem solid #ea80fc;
}

#buttons {
    display: flex;
    justify-content: space-between;
}
