body {
    background-color: var(--vscode-editor-background);
}

.grid-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#canvas {
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

chartView {
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
}

gridView {
    margin-bottom: 5px;
    flex-direction: column;
    display: flex;
}

.button-outline {
    border-color: #ea80fc;
}

.button.button-outline {
    color: #ea80fc;
}

.button-black {
    background-color: white;
    border-color: white;
}

.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: white;
}
.button-black.button-clear {
    border-color: transparent;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    letter-spacing: 0;
    padding: 0 1rem;
}

select {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    background-color: var(--vscode-editor-background);
}

option {
    font-size: 1.1rem;
    font-weight: 700;
}

label {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
}

input {
    color: white;
}

.border-right {
    border-right: 0.1rem solid #ea80fc;
}

.form {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
}

.alert {
    width: 600px;
    margin: auto;
    padding: 10px;
    color: red;
    display: none;
}
