<!DOCTYPE html>
<html lang="en">

<head>
    <!-- include styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,500italic,700,700italic">
    <link href="{assets}/css/milligram.min.css" rel="stylesheet">
    <link href="{assets}/css/view{theme}.css" rel="stylesheet">
    </style>
</head>

<body>
    <div class="alert" id="alert">
    </div>
    <div class="form">
        <label for="host">Hostname</label>
        <input type="text" placeholder="localhost" id="host">
        <label for="port">Port</label>
        <input type="text" placeholder="e.g. 1800" id="port">
        <label for="user">User</label>
        <input type="text" placeholder="" id="user">
        <label for="password">Password</label>
        <input type="password" placeholder="******" id="password">
        <label for="socketTimeout">Socket Timeout (milliseconds)</label>
        <input type="text" placeholder="" id="socketTimeout" value="0">
        <label for="label">Label</label>
        <input type="text" placeholder="e.g. localhost-1800" id="label" onfocus="generateDefaultLabel()">
        <label for="tags">Tags</label>
        <input type="text" placeholder="e.g. dev,md,rdb" id="tags">
        <div class="float-right">
            <input type="checkbox" id="socketNoDelay">
            <label class="label-inline" for="socketNoDelay">Socket No Delay</label>
            <input type="checkbox" id="useCustomizedAuth" {customizedAuthInstalled}>
            <label class="label-inline" for="useCustomizedAuth">
                <span title="requires vscode-q-auth extension">Customized Authentication</span></label>
        </div>
        <input class="button-primary" type="submit" value="Create" onclick="create()">
        <input class="button-primary" type="submit" value="Update" onclick="update()">

        <script type="text/javascript" charset="utf-8">
            // get api to interact with vscode
            let vscode = acquireVsCodeApi();
            let cfg;
            window.addEventListener('message', event => {
                cfg = event.data;
                console.log(`got a configuration`);
                loadCfg();
            });

            window.onload = (event) => {
                console.log("Page is fully loaded");
                try {
                    vscode.postMessage({ cmd: 'ready' });
                }
                catch (error) {
                    console.error(`Fail to load configuration - error: ${error.message}`);
                }
            };

            const host = document.getElementById('host');
            const port = document.getElementById('port');
            const user = document.getElementById('user');
            const password = document.getElementById('password');
            const socketTimeout = document.getElementById('socketTimeout');
            const label = document.getElementById('label');
            const tags = document.getElementById('tags');
            const socketNoDelay = document.getElementById('socketNoDelay');
            const alert = document.getElementById('alert');
            const useCustomizedAuth = document.getElementById('useCustomizedAuth');
            function generateDefaultLabel() {
                if (label.value === '')
                    label.value = host.value + '-' + port.value;
            }
            function validateInput() {
                let errorMsg = '';
                if (isNaN(parseInt(port.value.trim())))
                    errorMsg += '<em>Port must be an integer</em><br>';
                if (isNaN(parseInt(socketTimeout.value.trim())))
                    errorMsg += '<em>Socket timeout must be an integer</em><br>';
                if (label.value.trim() === '')
                    errorMsg += '<em>Label cannot be null</em><br>'
                if (errorMsg === '') {
                    alert.style.display = "none";
                    return true;
                } else {
                    alert.innerHTML = errorMsg;
                    alert.style.display = "block";
                    return false;
                }
            }
            function create() {
                if (!validateInput())
                    return;
                console.log(getCfg())
                sendCfgToVscode(getCfg(), false);
            }
            function update() {
                if (!validateInput())
                    return;
                sendCfgToVscode(getCfg(), true);
            }
            function getCfg() {
                return {
                    host: host.value.trim(),
                    port: parseInt(port.value.trim()),
                    user: user.value.trim(),
                    password: password.value.trim(),
                    socketNoDelay: socketNoDelay.checked,
                    socketTimeout: parseInt(socketTimeout.value.trim()),
                    label: label.value.trim(),
                    tags: tags.value.trim(),
                    uniqLabel: tags.value.trim() + ',' + label.value.trim(),
                    useCustomizedAuth: useCustomizedAuth.checked
                }
            }

            function loadCfg() {
                if (cfg) {
                    host.value = cfg.host ?? '';
                    port.value = cfg.port;
                    user.value = cfg.user;
                    password.value = cfg.password;
                    socketTimeout.value = cfg.socketTimeout;
                    label.value = cfg.label;
                    tags.value = cfg.tags;
                    socketNoDelay.checked = cfg.socketNoDelay;
                    useCustomizedAuth.checked = cfg.useCustomizedAuth;
                }
            }

            function sendCfgToVscode(cfg, overwrite) {
                vscode.postMessage({
                    cmd: "updateCfg",
                    cfg: cfg,
                    overwrite: overwrite
                });
            }
        </script>
    </div>
</body>

</html>